@model List<List<AptSystems.Models.ViewModels.ArticleViewModel>>
@using AptSystems.Models;

@{
    ViewBag.Title = "Zdravetomi.com";
}

    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- End Preloader -->

    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>

    <div class="container">
        <div class="box_wrapper">
            <!-- ==================start header=============== -->
            <header id="header">
                <!-- start header top area -->
                <div class="header_top">
                    <!-- Static navbar -->
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Навигация</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav custom_nav">
                                    <li>@Html.ActionLink("Начало", "Index", "Articles", null)</li>
                                    <li><a class="GetCategory" data-category="@CategoryTypes.Health" href="#">Здраве</a></li>
                                    <li><a class="GetCategory" data-category="@CategoryTypes.Nutrition" href="#">Хранене</a></li>
                                    <li><a class="GetCategory" data-category="@CategoryTypes.Fitness" href="#">Фитнес</a></li>
                                    <li><a class="GetCategory" data-category="@CategoryTypes.Medicine" href="#">Медицина</a></li>
                                    <li><a class="GetCategory" data-category="@CategoryTypes.Family" href="#">Семейство</a></li>
                                    <li>@Html.Partial("_LoginPartial")</li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div><!--/.container-fluid -->
                    </nav>
                    <div class="header_search">
                        <button id="searchIcon"><i class="fa fa-search"></i></button>
                        <!-- <a id="searchIcon" href="#"><i class="fa fa-search"></i></a> -->
                        <div id="shide">
                            <div id="search-hide">
                                <form>
                                    <input type="text" size="40" placeholder="Search here ...">
                                </form>
                                <button class="remove"><span><i class="fa fa-times"></i></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End header top area -->
                <!-- start header bottom area -->
                <div class="header_bottom">
                    <div class="logo_area">
                        <!-- for your image logo -->
                        <!---->
                        <a class="logo getToStart" href="#">
                            <img src="~/Images/logo3.jpg" alt="logo">
                        </a>

                        <!-- for your text logo
                      <a class="logo" href="#">
                      <b>З</b>драве-<b>БГ</b>
                      <span><b>Изкуството да живеем</b><strong>... добре</strong></span>
                      </a>-->
                    </div>
                    <div class="top_addarea getToStart">
                        <a href="#"><img src="~/Images/top4.jpg" alt="img"></a>
                    </div>
                </div>
                <!-- start header top area -->
            </header>
            <!-- ==================End header=============== -->
            <!-- start news sticker -->
            <div class="latest_newsarea">
                <span>Последни публикации</span>
                <ul id="ticker01" class="news_sticker">
                    @foreach (var item in Model)
                    {
                        <li><a href="#" class="GetArticle" data-articleid=@item[0].Id>@item[0].Title</a></li>
                    }
                </ul>
            </div>
            <div id="someDiv"></div>
            <!-- End news sticker -->
            <!-- ==================start top thumbnail slidier =============== -->
            <div class="thumbnail_slider_area">
                <!-- Set up your HTML -->
                <div class="owl-carousel">                 
                    @foreach (var item in Model[0])
                    {
                        var imageBase640 = Convert.ToBase64String(item.Image395_396);
                        var imageSrc0 = string.Format("data:image/gif;base64,{0}", imageBase640);

                        <div class="signle_iteam">
                            <a class="GetArticle" data-articleid=@item.Id>
                                <img src="@imageSrc0" alt="img">
                            </a>
                            <div class="sing_commentbox slider_comntbox">
                                <p><i class="fa fa-calendar col"></i>@item.CreatedAt.ToString("dd MMMM yyyy")</p>
                                <a href="#"><i class="fa fa-comments col"></i>@item.Comments.Count</a>
                            </div>
                            <a class="slider_tittle GetArticle" data-articleid=@item.Id href="#">@item.Title</a>
                        </div>
                    }
                    
                </div>
            </div>
            <!-- ==================End top thumbnail slidier =============== -->

            <section id="contentbody">
                <div class="row">
                    <!-- start left bar content -->
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        <div class="row">
                            <div class="left_bar">
                                <!-- start single leftbar -->
                                <div class="single_leftbar">
                                    <h2><span>Последни публикации</span></h2>                                  
                                        <div class="singleleft_inner">
                                            <ul class="recentpost_nav wow fadeInDown">
                                                @for (int i = 0; i < 4; i++)
                                                {
                                                    var imageBase641 = Convert.ToBase64String(Model[6][i].Image150_70);
                                                    var imageSrc1 = string.Format("data:image/gif;base64,{0}", imageBase641);
                                                    <li>
                                                        <a href="single_page.html" class="GetArticle" data-articleid="@Model[6][i].Id"><img src="@imageSrc1" alt="img"></a>
                                                        <a class="catg_title GetArticle" data-articleid=@Model[6][i].Id href="#"> @Model[6][i].Title</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>                                   
                                </div>
                                <!-- start single leftbar -->
                                <div class="single_leftbar wow fadeInDown">
                                    <h2><span>Реклама</span></h2>
                                    <div class="singleleft_inner">
                                        <a href="#"><img src="~/Images/add150600.jpg" alt="img"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End left bar content -->
                    <!-- start left middlebar content -->
                    <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
                        <div class="row">
                            <div class="middle_bar">
                                <!-- start featured slider -->
                                <div class="featured_sliderarea">
                                    <!-- Carousel
                                    ================================================== -->
                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#myCarousel" data-slide-to="1"></li>
                                            <li data-target="#myCarousel" data-slide-to="2"></li>
                                            <li data-target="#myCarousel" data-slide-to="3"></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                @{
                                                    string imageBase64 = Convert.ToBase64String(Model[5][0].Image668_328);
                                                    string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                                }
                                                <img src="@imageSrc" class="GetArticle" data-articleid="@Model[5][0].Id" alt="First slide">
                                                <div class="carousel-caption">
                                                    <h1><a class="GetArticle" data-articleid="@Model[5][0].Id" href="#"> @Model[5][0].Title</a></h1>
                                                </div>
                                            </div>
                                            <div class="item">
                                                @{
                                                    imageBase64 = Convert.ToBase64String(Model[5][1].Image668_328);
                                                    imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                                }
                                                <img src="@imageSrc" class="GetArticle" data-articleid="@Model[5][1].Id" alt="First slide">
                                                <div class="carousel-caption">
                                                    <h1><a class="GetArticle" data-articleid="@Model[5][1].Id" href="#"> @Model[5][1].Title</a></h1>
                                                </div>
                                            </div>
                                            <div class="item">
                                                @{
                                                    imageBase64 = Convert.ToBase64String(Model[5][2].Image668_328);
                                                    imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                                }
                                                <img src="@imageSrc" class="GetArticle" data-articleid="@Model[5][2].Id" alt="First slide">
                                                <div class="carousel-caption">
                                                    <h1><a class="GetArticle" data-articleid="@Model[5][2].Id" href="#"> @Model[5][2].Title</a></h1>
                                                </div>
                                            </div>
                                            <div class="item">
                                                @{
                                                    imageBase64 = Convert.ToBase64String(Model[5][3].Image668_328);
                                                    imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                                }
                                                <img src="@imageSrc" class="GetArticle" data-articleid="@Model[5][3].Id" alt="First slide">
                                                <div class="carousel-caption">
                                                    <h1><a class="GetArticle" data-articleid="@Model[5][3].Id" href="#"> @Model[5][3].Title</a></h1>
                                                </div>
                                            </div>

                                        </div>
                                        <a class="left left_slide" href="#myCarousel" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        </a>
                                        <a class="right right_slide" href="#myCarousel" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        </a>
                                    </div><!-- /.carousel -->
                                </div><!-- End featured slider -->
                                <!-- start category one -->
                                <div class="single_category wow fadeInDown">
                                    <div class="category_title">
                                        <a class="GetCategory" data-category="@CategoryTypes.Health" href="#">Здраве</a>
                                    </div>
                                    <div class="single_category_inner">
                                        <ul class="catg_nav">
                                            @foreach (var item in Model[0])
                                            { 
                                                string imageBase642 = Convert.ToBase64String(item.Image310_150);
                                                string imageSrc2 = string.Format("data:image/gif;base64,{0}", imageBase642);

                                                <li>
                                                    <div class="catgimg_container">
                                                        <a class="catg1_img" href="single_page.html">
                                                            <img src="@imageSrc2" class="GetArticle" data-articleid="@item.Id" alt="img">
                                                        </a>
                                                    </div>
                                                    <a class="catg_title GetArticle" data-articleid="@item.Id" href="#"> @item.Title</a>
                                                    <div class="sing_commentbox">
                                                        <p><i class="fa fa-calendar"></i>@item.CreatedAt.ToString("dd MMMM yyyy")</p>
                                                        <a href="#"><i class="fa fa-comments"></i>@item.Comments.Count Comments</a>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div> <!-- End category one -->
                                <!-- start category Two -->
                                <div class="single_category  wow fadeInDown">
                                    <div class="category_title">
                                        <a class="GetCategory" data-category="@CategoryTypes.Nutrition" href="#">Хранене</a>
                                    </div>
                                    <div class="single_category_inner">
                                        <ul class="catg_nav catg_nav2">
                                            @for (int i = 0; i < 2; i++)
                                            {
                                                <li>
                                                    <div class="catgimg_container">
                                                        @{
                                                            string imageBase645 = Convert.ToBase64String(Model[1][i].Image310_150);
                                                            string imageSrc5 = string.Format("data:image/gif;base64,{0}", imageBase645);
                                                        }
                                                        <a class="catg1_img" href="#">
                                                            <img src="@imageSrc5" class="GetArticle" data-articleid=@Model[1][i].Id alt="img">
                                                        </a>
                                                    </div>
                                                    <a class="catg_title GetArticle" data-articleid=@Model[1][i].Id href="#"> @Model[1][i].Title</a>
                                                    <div class="sing_commentbox">
                                                        <p><i class="fa fa-calendar"></i>@Model[1][i].CreatedAt.ToString("dd MMMM yyyy")</p>
                                                        <a href="#"><i class="fa fa-comments"></i>@Model[1][i].Comments.Count</a>
                                                    </div>
                                                    <p class="post-summary">@Model[1][i].Content</p>
                                                </li>
                                            }                                           
                                        </ul>
                                    </div>
                                </div> <!-- End category Two -->

                                <div class="category_three_fourarea  wow fadeInDown">
                                    <div class="category_three">
                                        <!-- start category Three -->
                                        <div class="single_category">
                                            <div class="category_title">
                                                <a class="GetCategory" data-category="@CategoryTypes.Medicine" href="#">Медицина</a>
                                            </div>
                                            <div class="single_category_inner">
                                                <ul class="catg_nav catg_nav3">
                                                    <li>
                                                        <div class="catgimg_container">
                                                            <a class="catg1_img" href="single_page.html">
                                                                @{
                                                                    string imageBase644 = Convert.ToBase64String(Model[3][0].Image310_150);
                                                                    string imageSrc4 = string.Format("data:image/gif;base64,{0}", imageBase644);
                                                                }
                                                                <img src="@imageSrc4" class="GetArticle" data-articleid=@Model[3][0].Id alt="img">
                                                            </a>
                                                        </div>
                                                        <a class="catg_title GetArticle" data-articleid=@Model[3][0].Id href="#"> @Model[3][0].Title</a>
                                                        <div class="sing_commentbox">
                                                            <p><i class="fa fa-calendar"></i>@Model[3][0].CreatedAt.ToString("dd MMMM yyyy")</p>
                                                            <a href="#"><i class="fa fa-comments"></i>@Model[3][0].Comments.Count</a>
                                                        </div>
                                                        <p class="post-summary">@Model[3][0].Content</p>
                                                    </li>
                                                </ul>
                                                <!-- start category3 bottom post -->
                                                <div class="catg3_bottompost wow fadeInDown">
                                                    <ul class="catg3_snav">
                                                        @for (int i = 1; i <= 4; i++)
                                                        {
                                                            var item = Model[3][i];
                                                            var imageBase647 = Convert.ToBase64String(item.Thumbnail70_70);
                                                            var imageSrc7 = string.Format("data:image/gif;base64,{0}", imageBase647);

                                                            <li>
                                                                <div class="media">
                                                                    <a class="media-left" href="single_page.html">
                                                                        <img src="@imageSrc7" class="GetArticle" data-articleid=@item.Id alt="img">
                                                                    </a>
                                                                    <div class="media-body">
                                                                        <a class="catg_title GetArticle" href="#" data-articleid=@item.Id> @item.Title</a>
                                                                        <div class="sing_commentbox">
                                                                            <p><i class="fa fa-calendar"></i>@item.CreatedAt.ToString("dd MMMM yyyy")</p>
                                                                            <a href="#"><i class="fa fa-comments"></i>@item.Comments.Count Comments</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End category three -->
                                    <div class="category_four wow fadeInDown">
                                        <!-- start category Four -->
                                        <div class="single_category">
                                            <div class="category_title">
                                                <a class="GetCategory" data-category="@CategoryTypes.Fitness" href="#">Фитнес</a>
                                            </div>
                                            <div class="single_category_inner">
                                                <ul class="catg_nav catg_nav3">
                                                    <li>
                                                        <div class="catgimg_container">
                                                            <a class="catg1_img" href="single_page.html">
                                                                @{
                                                                    string imageBase646 = Convert.ToBase64String(Model[2][0].Image310_150);
                                                                    string imageSrc6 = string.Format("data:image/gif;base64,{0}", imageBase646);
                                                                }
                                                                <img src="@imageSrc6" class="GetArticle" data-articleid=@Model[2][0].Id alt="img">
                                                            </a>
                                                        </div>
                                                        <a class="catg_title GetArticle" data-articleid=@Model[2][0].Id href="#"> @Model[2][0].Title</a>
                                                        <div class="sing_commentbox">
                                                            <p><i class="fa fa-calendar"></i>@Model[2][0].CreatedAt.ToString("dd MMMM yyyy")</p>
                                                            <a href="#"><i class="fa fa-comments"></i>@Model[2][0].Comments.Count</a>
                                                        </div>
                                                        <p class="post-summary">@Model[2][0].Content</p>
                                                    </li>
                                                </ul>

                                                <!-- start category4 bottom post -->
                                                <div class="catg3_bottompost wow fadeInDown">
                                                    <ul class="catg3_snav">
                                                        @for (int i = 1; i <= 4; i++)
                                                        {
                                                            var item = Model[2][i];
                                                            var imageBase647 = Convert.ToBase64String(item.Thumbnail70_70);
                                                            var imageSrc7 = string.Format("data:image/gif;base64,{0}", imageBase647);

                                                            <li>
                                                                <div class="media">
                                                                    <a class="media-left" href="single_page.html">
                                                                        <img src="@imageSrc7" class="GetArticle" data-articleid=@item.Id alt="img">
                                                                    </a>
                                                                    <div class="media-body">
                                                                        <a class="catg_title GetArticle" data-articleid=@item.Id href="#"> @item.Title</a>
                                                                        <div class="sing_commentbox">
                                                                            <p><i class="fa fa-calendar"></i>@item.CreatedAt.ToString("dd MMMM yyyy")</p>
                                                                            <a href="#"><i class="fa fa-comments"></i>@item.Comments.Count Comments</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End category Four -->
                                </div>
                                <!-- start category Five -->
                                <div class="single_category wow fadeInDown">
                                    <div class="category_title">
                                        <a class="GetCategory" data-category="@CategoryTypes.Family" href="#">Семейство</a>
                                    </div>
                                    <div class="single_category_inner">
                                        <ul class="catg3_snav catg5_nav">
                                            @for (int i = 0; i < 6; i++)
                                            {
                                                var item = Model[4][i];
                                                var imageBase647 = Convert.ToBase64String(item.Thumbnail70_70);
                                                var imageSrc7 = string.Format("data:image/gif;base64,{0}", imageBase647);

                                                <li>
                                                    <div class="media">
                                                        <a href="#" class="media-left">
                                                            <img alt="img" class="GetArticle" data-articleid=@item.Id src="@imageSrc7">
                                                        </a>
                                                        <div class="media-body">
                                                            <a href="#" class="catg_title GetArticle" data-articleid=@item.Id> @item.Title</a>
                                                            <div class="sing_commentbox">
                                                                <p><i class="fa fa-calendar"></i>@item.CreatedAt.ToString("dd MMMM yyyy")</p>
                                                                <a href="#"><i class="fa fa-comments"></i>@item.Comments.Count Comments</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div> <!-- End category Five -->
                            </div>
                        </div>
                    </div>
                    <!-- End left middlebar content -->
                    <!-- start left rightbar content -->
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="right_bar">
                                <!-- start Popular Post -->
                                <div class="single_leftbar wow fadeInDown">
                                    <h2><span>Популярни</span></h2>
                                    <div class="singleleft_inner">
                                        <ul class="catg3_snav ppost_nav wow fadeInDown">
                                            @foreach (var item in Model[7])
                                            {
                                                <li>
                                                    @{ 
                                                        var imageBase645 = Convert.ToBase64String(item.Thumbnail70_70);
                                                        var imageSrc5 = string.Format("data:image/gif;base64,{0}", imageBase645);
                                                    }
                                                    <div class="media">
                                                        <a href="single_page.html" class="media-left">
                                                            <img alt="img" class="GetArticle" data-articleid=@item.Id src="@imageSrc5">
                                                        </a>
                                                        <div class="media-body">
                                                            <a href="#" data-articleid=@item.Id class="catg_title GetArticle"> @item.Title</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Popular Post -->
                                <!-- start right bar add -->
                                <div class="single_leftbar wow fadeInDown">
                                    <h2><span>Реклама</span></h2>
                                    <div class="singleleft_inner">
                                        <a href="#"><img alt="img" src="~/Images/add262218.jpg"></a>
                                    </div>
                                </div>
                                <!-- End right bar add -->
                                <!-- start Last Post -->
                                <div class="single_leftbar wow fadeInDown lastcats">
                                    <h2><span>Последни публикации</span></h2>
                                    <div class="singleleft_inner">
                                        <ul class="catg3_snav ppost_nav wow fadeInDown">
                                            @foreach (var item in Model[6])
                                            {
                                                <li>
                                                    @{
                                                        var imageBase645 = Convert.ToBase64String(item.Thumbnail70_70);
                                                        var imageSrc5 = string.Format("data:image/gif;base64,{0}", imageBase645);
                                                    }
                                                    <div class="media">
                                                        <a href="single_page.html" class="media-left">
                                                            <img alt="img" class="GetArticle" data-articleid=@item.Id src="@imageSrc5">
                                                        </a>
                                                        <div class="media-body">
                                                            <a href="#" class="catg_title GetArticle" data-articleid=@item.Id> @item.Title</a>
                                                        </div>
                                                    </div>
                                                </li>
                                          }
                                        </ul>
                                    </div>
                                </div>
                                
                                <!-- start Links -->
                                <div class="single_leftbar wow fadeInDown">
                                    <h2><span>Връзки</span></h2>
                                    <div class="singleleft_inner">
                                        <ul class="link_nav">
                                            <li><a href="#" class="getToStart">Начало</a></li>
                                            <li><a href="#">Facebook</a></li> <!--TODO: be implemented-->
                                            <li><a href="#">Карта на сайта</a></li> <!--TODO: be implemented-->
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Links -->
                            </div>
                        </div>
                    </div>
                    <!-- End left rightbar content -->
                </div>
            </section>
            <!-- ==================End content body section=============== -->
            <footer id="footer">
                <div class="footer_top">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single_footer_top wow fadeInLeft">
                            <h2>Бюлетин</h2>
                            <div class="subscribe_area">
                                <p>"Регистрирайте се тук, за да получавате бюлетина ни. Сигурно е - просто напишете e-mail адреса си и натиснете абонамент"</p>
                                <form>
                                    <div class="subscribe_mail">
                                        <input class="form-control" type="email" placeholder="Email Address">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <input class="submit_btn" type="submit" value="Абонамент">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single_footer_top wow fadeInLeft">
                            <h2>Популярни публикации</h2>
                            <ul class="catg3_snav ppost_nav">
                                @for (int i = 0; i < 3; i++)
                                {
                                    <li>
                                        @{
                                            var imageBase645 = Convert.ToBase64String(Model[7][i].Thumbnail70_70);
                                            var imageSrc5 = string.Format("data:image/gif;base64,{0}", imageBase645);
                                        }
                                        <div class="media">
                                            <a href="single_page.html" class="media-left">
                                                <img alt="img" class="GetArticle" data-articleid=@Model[7][i].Id src="@imageSrc5">
                                            </a>
                                            <div class="media-body">
                                                <a href="#" class="catg_title GetArticle" data-articleid=@Model[7][i].Id> @Model[7][i].Title</a>
                                            </div>
                                        </div>
                                    </li>
                                            }
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single_footer_top wow fadeInRight">
                            <h2>Категории</h2>
                            <ul class="footer_labels">
                                <li><a class="getToStart" href="#">Начало</a></li>
                                <li><a class="GetCategory" data-category="@CategoryTypes.Health" href="#">Здраве</a></li>
                                <li><a class="GetCategory" data-category="@CategoryTypes.Nutrition" href="#">Хранене</a></li>
                                <li><a class="GetCategory" data-category="@CategoryTypes.Medicine" href="#">Медицина</a></li>
                                <li><a class="GetCategory" data-category="@CategoryTypes.Fitness" href="#">Фитнес</a></li>
                                <li><a class="GetCategory" data-category="@CategoryTypes.Family" href="#">Семейство</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single_footer_top wow fadeInRight">
                            <h2>Форма за контакт</h2>

                            @using (Html.BeginForm("SendMail", "Articles", FormMethod.Post, new { target = "hiddenFrame", @class="contact_form" }))
                            {

                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                                <label>Име</label>
                                <input class="form-control" type="text" name="name">
                                <label>Email*</label>
                                <input class="form-control" type="email" name="email">
                                <label>Съобщение*</label>
                                <textarea class="form-control" cols="30" rows="10" name="content"></textarea>
                                <input class="send_btn" type="submit" onclick="window.location.reload()" value="Изпрати">
                            }
                        </div>
                        <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
                    </div>
                </div>
                <div class="footer_bottom">
                    <div class="footer_bottom_left">
                        <p>Designed by <a href="#" rel="nofollow">Stoyan Penchev</a></p>
                    </div>

                    <div class="footer_bottom_right">
                        <ul>
                            <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Googel+" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div><!-- /.box_wrapper -->
        <div class="container">
            <h2 style="visibility: hidden">Modal Example</h2>
            <button style="visibility: hidden" type="button" id="openB" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="titleM">Резултат</h4>
                        </div>
                        <div class="modal-body">
                            <p id="textM"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.GetArticle').on('click', function (e) {
            e.preventDefault();
            var id = $(this).data("articleid");
            $.get('@Url.Action("_SingleArticle", "Articles")', { id: id }, function (result) {
                $('#myCarousel').html(result);
                $('.thumbnail_slider_area,.single_category,.lastcats').hide();
            });
        });

        $('.GetCategory').on('click', function (e) {
            e.preventDefault();
            var category = $(this).data("category");
            $.get('@Url.Action("_SingleCategory","Articles")', {category : category}, function (result) {
                $('#myCarousel').html(result);
                $('.thumbnail_slider_area,.single_category,.lastcats').hide();
            });
        });

        $('.getToStart').on('click', function (e) {
            e.preventDefault();
            window.location.reload();
        });

        switch (@ViewBag.Status) {
            case 1: $("#textM").html("Успешен запис"); $('#openB').click();break;
            case 2: $("#textM").html("Невалидни данни. Неуспешен запис на коментар");$('#openB').click(); break;
            case 3: $("#textM").html("Успешно изпращане на e-mail"); $('#openB').click();break;
            case 4: $("#textM").html("Неуспешно изпращане на е-mail"); $('#openB').click();break;
        }

    });
</script>
