@model List<List<AptSystems.Models.ViewModels.ArticleViewModel>>

@{
    ViewBag.Title = "Zdravetomi.com";
}

    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- End Preloader -->

    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>

    <div class="container">
        <div class="box_wrapper">
            <!-- ==================start header=============== -->
            <header id="header">
                <!-- start header top area -->
                <div class="header_top">
                    <!-- Static navbar -->
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Навигация</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav custom_nav">
                                    <li class=""><a href="index.html">Начало</a></li>
                                    <li><a href="#">Здраве</a></li>
                                    <li><a href="category-archive.html">Хранене</a></li>
                                    <li><a href="category-archive.html">Фитнес</a></li>
                                    <li><a href="category-archive.html">Медицина</a></li>
                                    <li><a href="#">Семейство</a></li>
                                    <li><a href="404.html">Регистрация</a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div><!--/.container-fluid -->
                    </nav>
                    <div class="header_search">
                        <button id="searchIcon"><i class="fa fa-search"></i></button>
                        <!-- <a id="searchIcon" href="#"><i class="fa fa-search"></i></a> -->
                        <div id="shide">
                            <div id="search-hide">
                                <form>
                                    <input type="text" size="40" placeholder="Search here ...">
                                </form>
                                <button class="remove"><span><i class="fa fa-times"></i></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End header top area -->
                <!-- start header bottom area -->
                <div class="header_bottom">
                    <div class="logo_area">
                        <!-- for your image logo -->
                        <!---->
                        <a class="logo" href="index.html">
                            <img src="~/Images/logo3.jpg" alt="logo">
                        </a>

                        <!-- for your text logo
                      <a class="logo" href="#">
                      <b>З</b>драве-<b>БГ</b>
                      <span><b>Изкуството да живеем</b><strong>... добре</strong></span>
                      </a>-->
                    </div>
                    <div class="top_addarea">
                        <a href="#"><img src="~/Images/top4.jpg" alt="img"></a>
                    </div>
                </div>
                <!-- start header top area -->
            </header>
            <!-- ==================End header=============== -->
            <!-- start news sticker -->
            <div class="latest_newsarea">
                <span>Последни публикации</span>
                <ul id="ticker01" class="news_sticker">
                    @foreach (var item in Model[0])
                    {
                        <li><a href="#">@item.Title</a></li>
                    }
                </ul>
            </div>
            <div id="someDiv"></div>
            <!-- End news sticker -->
            <!-- ==================start top thumbnail slidier =============== -->
            <div class="thumbnail_slider_area">
                <!-- Set up your HTML -->
                <div class="owl-carousel">                 
                    @foreach (var item in Model[0])
                    {
                        string imageBase64 = Convert.ToBase64String(item.Image395_396);
                        string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);

                        <div class="signle_iteam">
                            <a class="GetArticle" id=@item.Id>
                                <img src="@imageSrc" alt="img">
                            </a>
                            <div class="sing_commentbox slider_comntbox">
                                <p><i class="fa fa-calendar col"></i>@item.CreatedAt.ToString("dd MMMM yyyy")</p>
                                <a href="#"><i class="fa fa-comments col"></i>@item.Comments.Count</a>
                            </div>
                            <a class="slider_tittle" href="#">@item.Title</a>
                        </div>
                    }
                    
                </div>
            </div>
            <!-- ==================End top thumbnail slidier =============== -->

            <section id="contentbody">
                <div class="row">
                    <!-- start left bar content -->
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        <div class="row">
                            <div class="left_bar">
                                <!-- start single leftbar -->
                                <div class="single_leftbar">
                                    <h2><span>Последни публикации</span></h2>
                                    <div class="singleleft_inner">
                                        <ul class="recentpost_nav wow fadeInDown">
                                            <li>
                                                <a href="single_page.html"><img src="http://lorempixel.com/150/80/" alt="img"></a>
                                                <a class="catg_title" href="single_page.html"> Curabitur ac dictum nisl eu hendrerit ante</a>
                                            </li>
                                            <li>
                                                <a href="single_page.html"><img src="http://lorempixel.com/150/80/" alt="img"></a>
                                                <a class="catg_title" href="single_page.html"> Curabitur ac dictum nisl eu hendrerit ante</a>
                                            </li>
                                           
                                             <li>
                                                <a href="single_page.html"><img src="http://lorempixel.com/150/80/" alt="img"></a>
                                                <a class="catg_title" href="single_page.html"> Curabitur ac dictum nisl eu hendrerit ante</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- start single leftbar -->
                                <div class="single_leftbar wow fadeInDown">
                                    <h2><span>Реклама</span></h2>
                                    <div class="singleleft_inner">
                                        <a href="#"><img src="~/Images/add150600.jpg" alt="img"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End left bar content -->
                    <!-- start left middlebar content -->
                    <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
                        <div class="row">
                            <div class="middle_bar">
                                <!-- start featured slider -->
                                <div class="featured_sliderarea">
                                    <!-- Carousel
                                    ================================================== -->
                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#myCarousel" data-slide-to="1"></li>
                                            <li data-target="#myCarousel" data-slide-to="2"></li>
                                            <li data-target="#myCarousel" data-slide-to="3"></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <img src="http://lorempixel.com/668/328/" alt="First slide">
                                                <div class="carousel-caption">
                                                    <h1><a href="#"> Aliquam malesuada diam eget turpis varius 1</a></h1>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="http://lorempixel.com/668/328/" alt="First slide">
                                                <div class="carousel-caption">
                                                    <h1><a href="#"> Aliquam malesuada diam eget turpis varius 2</a></h1>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="http://lorempixel.com/668/328/" alt="First slide">
                                                <div class="carousel-caption">
                                                    <h1><a href="#"> Aliquam malesuada diam eget turpis varius 3</a></h1>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img src="http://lorempixel.com/668/328/" alt="First slide">
                                                <div class="carousel-caption">
                                                    <h1><a href="#"> Aliquam malesuada diam eget turpis varius 4</a></h1>
                                                </div>
                                            </div>

                                        </div>
                                        <a class="left left_slide" href="#myCarousel" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        </a>
                                        <a class="right right_slide" href="#myCarousel" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        </a>
                                    </div><!-- /.carousel -->
                                </div><!-- End featured slider -->
                                <!-- start category one -->
                                <div class="single_category wow fadeInDown">
                                    <div class="category_title">
                                        <a href="category-archive.html">Здраве</a>
                                    </div>
                                    <div class="single_category_inner">
                                        <ul class="catg_nav">
                                            @foreach (var item in Model[0])
                                            { 
                                                string imageBase64 = Convert.ToBase64String(item.Image310_150);
                                                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);

                                                <li>
                                                    <div class="catgimg_container">
                                                        <a class="catg1_img" href="single_page.html">
                                                            <img src="@imageSrc" alt="img">
                                                        </a>
                                                    </div>
                                                    <a class="catg_title" href="single_page.html"> @item.Title</a>
                                                    <div class="sing_commentbox">
                                                        <p><i class="fa fa-calendar"></i>@item.CreatedAt.ToString("dd MMMM yyyy")</p>
                                                        <a href="#"><i class="fa fa-comments"></i>@item.Comments.Count Comments</a>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div> <!-- End category one -->
                                <!-- start category Two -->
                                <div class="single_category  wow fadeInDown">
                                    <div class="category_title">
                                        <a href="category-archive.html">Хранене</a>
                                    </div>
                                    <div class="single_category_inner">
                                        <ul class="catg_nav catg_nav2">
                                            <li>
                                                <div class="catgimg_container">
                                                    <a class="catg1_img" href="#">
                                                        <img src="http://lorempixel.com/310/300/" alt="img">
                                                    </a>
                                                </div>
                                                <a class="catg_title" href="#"> Curabitur ac dictum nisl eu hendrerit ante</a>
                                                <div class="sing_commentbox">
                                                    <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                                                    <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                                                </div>
                                                <p class="post-summary">Suspendisse mauris dui, interdum vitae vehicula ut, posuere sed lectus. Nulla facilisi. Curabitur...</p>
                                            </li>
                                            <li>
                                                <div class="catgimg_container">
                                                    <a class="catg1_img" href="#">
                                                        <img src="http://lorempixel.com/310/300/" alt="img">
                                                    </a>
                                                </div>
                                                <a class="catg_title" href="#">Fusce eu nulla semper porttitor felis sit amet</a>
                                                <div class="sing_commentbox">
                                                    <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                                                    <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                                                </div>
                                                <p class="post-summary">Suspendisse mauris dui, interdum vitae vehicula ut, posuere sed lectus. Nulla facilisi. Curabitur...</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div> <!-- End category Two -->

                                <div class="category_three_fourarea  wow fadeInDown">
                                    <div class="category_three">
                                        <!-- start category Three -->
                                        <div class="single_category">
                                            <div class="category_title">
                                                <a href="single_page.html">Медицина</a>
                                            </div>
                                            <div class="single_category_inner">
                                                <ul class="catg_nav catg_nav3">
                                                    <li>
                                                        <div class="catgimg_container">
                                                            <a class="catg1_img" href="single_page.html">
                                                                <img src="http://lorempixel.com/292/150/" alt="img">
                                                            </a>
                                                        </div>
                                                        <a class="catg_title" href="#"> Curabitur ac dictum nisl eu hendrerit ante</a>
                                                        <div class="sing_commentbox">
                                                            <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                                                            <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                                                        </div>
                                                        <p class="post-summary">Duis erat purus, tincidunt vel ullamcorper ut, consequat tempus nibh. Proin condimentum risus ligula, dignissim mollis tortor hendrerit vel. Aliquam...</p>
                                                    </li>
                                                </ul>
                                                <!-- start category3 bottom post -->
                                                <div class="catg3_bottompost wow fadeInDown">
                                                    <ul class="catg3_snav">
                                                        @foreach (var item in Model[0])
                                                        {
                                                            string imageBase64 = Convert.ToBase64String(item.Thumbnail70_70);
                                                            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);

                                                            <li>
                                                                <div class="media">
                                                                    <a class="media-left" href="single_page.html">
                                                                        <img src="@imageSrc" alt="img">
                                                                    </a>
                                                                    <div class="media-body">
                                                                        <a class="catg_title" href="single_page.html"> @item.Title</a>
                                                                        <div class="sing_commentbox">
                                                                            <p><i class="fa fa-calendar"></i>@item.CreatedAt.ToString("dd MMMM yyyy")</p>
                                                                            <a href="#"><i class="fa fa-comments"></i>@item.Comments.Count Comments</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End category three -->
                                    <div class="category_four wow fadeInDown">
                                        <!-- start category Four -->
                                        <div class="single_category">
                                            <div class="category_title">
                                                <a href="#">Фитнес</a>
                                            </div>
                                            <div class="single_category_inner">
                                                <ul class="catg_nav catg_nav3">
                                                    <li>
                                                        <div class="catgimg_container">
                                                            <a class="catg1_img" href="single_page.html">
                                                                <img src="http://lorempixel.com/292/150/" alt="img">
                                                            </a>
                                                        </div>
                                                        <a class="catg_title" href="single_page.html"> Curabitur ac dictum nisl eu hendrerit ante</a>
                                                        <div class="sing_commentbox">
                                                            <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                                                            <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                                                        </div>
                                                        <p class="post-summary">Duis erat purus, tincidunt vel ullamcorper ut, consequat tempus nibh. Proin condimentum risus ligula, dignissim mollis tortor hendrerit vel. Aliquam...</p>
                                                    </li>
                                                </ul>

                                                <!-- start category4 bottom post -->
                                                <div class="catg3_bottompost wow fadeInDown">
                                                    <ul class="catg3_snav">
                                                        <li>
                                                            <div class="media">
                                                                <a class="media-left" href="single_page.html">
                                                                    <img src="http://lorempixel.com/70/70/" alt="img">
                                                                </a>
                                                                <div class="media-body">
                                                                    <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                                    <div class="sing_commentbox">
                                                                        <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                                                                        <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="media">
                                                                <a class="media-left" href="#">
                                                                    <img src="http://lorempixel.com/70/70/" alt="img">
                                                                </a>
                                                                <div class="media-body">
                                                                    <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                                    <div class="sing_commentbox">
                                                                        <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                                                                        <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="media">
                                                                <a class="media-left" href="#">
                                                                    <img src="http://lorempixel.com/70/70/" alt="img">
                                                                </a>
                                                                <div class="media-body">
                                                                    <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                                    <div class="sing_commentbox">
                                                                        <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                                                                        <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="media">
                                                                <a class="media-left" href="#">
                                                                    <img src="http://lorempixel.com/70/70/" alt="img">
                                                                </a>
                                                                <div class="media-body">
                                                                    <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                                    <div class="sing_commentbox">
                                                                        <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                                                                        <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End category Four -->
                                </div>
                                <!-- start category Five -->
                                <div class="single_category wow fadeInDown">
                                    <div class="category_title">
                                        <a href="#">Семейство</a>
                                    </div>
                                    <div class="single_category_inner">
                                        <ul class="catg3_snav catg5_nav">
                                            <li>
                                                <div class="media">
                                                    <a href="#" class="media-left">
                                                        <img alt="img" src="http://lorempixel.com/70/70/">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                                                        <div class="sing_commentbox">
                                                            <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                                                            <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <a href="#" class="media-left">
                                                        <img alt="img" src="http://lorempixel.com/70/70/">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                                                        <div class="sing_commentbox">
                                                            <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                                                            <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <a href="#" class="media-left">
                                                        <img alt="img" src="http://lorempixel.com/70/70/">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                                                        <div class="sing_commentbox">
                                                            <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                                                            <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <a href="#" class="media-left">
                                                        <img alt="img" src="http://lorempixel.com/70/70/">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                                                        <div class="sing_commentbox">
                                                            <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                                                            <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <a href="#" class="media-left">
                                                        <img alt="img" src="http://lorempixel.com/70/70/">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                                                        <div class="sing_commentbox">
                                                            <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                                                            <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <a href="#" class="media-left">
                                                        <img alt="img" src="http://lorempixel.com/70/70/">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                                                        <div class="sing_commentbox">
                                                            <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                                                            <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div> <!-- End category Five -->
                            </div>
                        </div>
                    </div>
                    <!-- End left middlebar content -->
                    <!-- start left rightbar content -->
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="right_bar">
                                <!-- start Popular Post -->
                                <div class="single_leftbar wow fadeInDown">
                                    <h2><span>Популярни</span></h2>
                                    <div class="singleleft_inner">
                                        <ul class="catg3_snav ppost_nav wow fadeInDown">
                                            <li>
                                                <div class="media">
                                                    <a href="single_page.html" class="media-left">
                                                        <img alt="img" src="http://lorempixel.com/70/70/">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <a href="single_page.html" class="media-left">
                                                        <img alt="img" src="http://lorempixel.com/70/70/">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <a href="single_page.html" class="media-left">
                                                        <img alt="img" src="http://lorempixel.com/70/70/">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <a href="#" class="media-left">
                                                        <img alt="img" src="http://lorempixel.com/70/70/">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <a href="#" class="media-left">
                                                        <img alt="img" src="http://lorempixel.com/70/70/">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <a href="#" class="media-left">
                                                        <img alt="img" src="http://lorempixel.com/70/70/">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <a href="#" class="media-left">
                                                        <img alt="img" src="http://lorempixel.com/70/70/">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <a href="#" class="media-left">
                                                        <img alt="img" src="http://lorempixel.com/70/70/">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <a href="#" class="media-left">
                                                        <img alt="img" src="http://lorempixel.com/70/70/">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>

                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <a href="#" class="media-left">
                                                        <img alt="img" src="http://lorempixel.com/70/70/">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Popular Post -->
                                <!-- start right bar add -->
                                <div class="single_leftbar wow fadeInDown">
                                    <h2><span>Реклама</span></h2>
                                    <div class="singleleft_inner">
                                        <a href="#"><img alt="img" src="~/Images/add262218.jpg"></a>
                                    </div>
                                </div>
                                <!-- End right bar add -->
                                <!-- start Tab -->
                                <div class="single_leftbar wow fadeInDown">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs custom-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Популярни</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Последни</a></li>
                                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Коментирани</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <ul class="catg3_snav ppost_nav wow fadeInDown">
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <ul class="catg3_snav ppost_nav wow fadeInDown">
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="messages">
                                            <ul class="catg3_snav ppost_nav wow fadeInDown">
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Tab -->
                                <!-- start Blog Archive -->
                                <div class="single_leftbar wow fadeInDown">
                                    <h2><span>Архив</span></h2>
                                    <div class="singleleft_inner">
                                        <div class="blog_archive">
                                            <form>
                                                <select>
                                                    <option value="">2015</option>
                                                    <option value="">2014</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Blog Archive -->
                                <!-- start Labels -->
                                <div class="single_leftbar wow fadeInDown">
                                    <h2><span>Раздели</span></h2>
                                    <div class="singleleft_inner">
                                        <ul class="label_nav">
                                            <li><a href="#">Здраве</a></li>
                                            <li><a href="#">Хранене</a></li>
                                            <li><a href="#">Медицина</a></li>
                                            <li><a href="#">Фитнес</a></li>
                                            <li><a href="#">Семейство</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Labels -->
                                <!-- start Links -->
                                <div class="single_leftbar wow fadeInDown">
                                    <h2><span>Връзки</span></h2>
                                    <div class="singleleft_inner">
                                        <ul class="link_nav">
                                            <li><a href="#">Начало</a></li>
                                            <li><a href="#">Facebook</a></li>
                                            <li><a href="#">Карта на сайта</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Links -->
                            </div>
                        </div>
                    </div>
                    <!-- End left rightbar content -->
                </div>
            </section>
            <!-- ==================End content body section=============== -->
            <footer id="footer">
                <div class="footer_top">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single_footer_top wow fadeInLeft">
                            <h2>Бюлетин</h2>
                            <div class="subscribe_area">
                                <p>"Регистрирайте се тук, за да получавате бюлетина ни. Сигурно е - просто напишете e-mail адреса си и натиснете абонамент"</p>
                                <form>
                                    <div class="subscribe_mail">
                                        <input class="form-control" type="email" placeholder="Email Address">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <input class="submit_btn" type="submit" value="Абонамент">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single_footer_top wow fadeInLeft">
                            <h2>Популярни публикации</h2>
                            <ul class="catg3_snav ppost_nav">
                                <li>
                                    <div class="media">
                                        <a class="media-left" href="single_page.html">
                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                        </a>
                                        <div class="media-body">
                                            <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <a class="media-left" href="single_page.html">
                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                        </a>
                                        <div class="media-body">
                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <a class="media-left" href="#">
                                            <img src="http://lorempixel.com/70/70/" alt="img">
                                        </a>
                                        <div class="media-body">
                                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single_footer_top wow fadeInRight">
                            <h2>Категории</h2>
                            <ul class="footer_labels">
                                <li><a href="#">Начало</a></li>
                                <li><a href="#">Здраве</a></li>
                                <li><a href="#">Хранене</a></li>
                                <li><a href="#">Медицина</a></li>
                                <li><a href="#">Фитнес</a></li>
                                <li><a href="#">Семейство</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single_footer_top wow fadeInRight">
                            <h2>Форма за контакт</h2>
                            <form class="contact_form">
                                <label>Име</label>
                                <input class="form-control" type="text">
                                <label>Email*</label>
                                <input class="form-control" type="email">
                                <label>Съобщение*</label>
                                <textarea class="form-control" cols="30" rows="10"></textarea>
                                <input class="send_btn" type="submit" value="Send">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="footer_bottom">
                    <div class="footer_bottom_left">
                        <p>Designed by <a href="#" rel="nofollow">Stoyan Penchev</a></p>
                    </div>

                    <div class="footer_bottom_right">
                        <ul>
                            <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Googel+" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div><!-- /.box_wrapper -->
    </div><!-- /.container -->

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.GetArticle').on('click', function (e) {
            e.preventDefault();
            var id = $(this).context.id;
            $.get('@Url.Action("_SingleArticle")', { id: id }, function (result) {
                $('#myCarousel').html(result);
            });
        });
    });
</script>
