@model IList<AptSystems.Models.ViewModels.ArticleViewModel>
@using AptSystems.Models.ViewModels;

<div id="content" class="wow fadeInDown">
    <div class="category_title">
        <a href="#">@Model[0].Category.GetDisplayName()</a>
    </div>
    <div class="single_category_inner">
        <ul class="catg3_snav catg5_nav">
        @foreach (var item in @Model)
        {
            {
                var imageBase647 = Convert.ToBase64String(item.Thumbnail70_70);
                var imageSrc7 = string.Format("data:image/gif;base64,{0}", imageBase647);

                <li>
                    <div class="media">
                        <a href="#" class="media-left">
                            <img alt="img" class="GetArticle" data-articleid=@item.Id src="@imageSrc7">
                        </a>
                        <div class="media-body">
                            <a href="#" class="catg_title GetArticle" data-articleid=@item.Id> @item.Title</a>
                            <div class="sing_commentbox">
                                <p><i class="fa fa-calendar"></i>@item.CreatedAt.ToString("dd MMMM yyyy")</p>
                                <a href="#"><i class="fa fa-comments"></i>@item.Comments.Count Comments</a>
                            </div>
                        </div>
                    </div>
                </li>
            }
        }
        </ul><br>

    </div>
    <button id="btnHome" class="btn-success" onclick="sendRequest(0)" data-page=@ViewBag.pageIndex data-category=@ViewBag.Category><<</button>&nbsp;&nbsp;
    <button id="btnPrevious" class="btn-success" onclick="sendRequest(1)"><</button>
    &nbsp; Page @ViewBag.PageIndex &nbsp;
    <input type="button" id="btnNext" onclick="sendRequest(2)" class="btn-success" value=">">&nbsp;&nbsp;
    <input type="button" id="btnEnd" class="btn-success" onclick="sendRequest(3)" value=">>">
</div>



    <script>
            var targetPage = parseInt($("#btnHome").data("page"));
            var categoryIn = $("#btnHome").data("category");
            console.log(targetPage, categoryIn);
                    //$("#btnNext").on("click", function () { console.log("1234") });
                    //$("#btnNext").on('click', function () { console.log(1); sendRequest(2); });
            

            function sendRequest(buttonIndex) {
                        switch (buttonIndex) {
                            case 0: targetPage = 1; break;
                            case 1: targetPage--; break;
                            case 2: targetPage++; break;
                            case 0: targetPage = -1; break;
                        }
                        var urlAddress = '_SingleCategory';
                        $.ajax({
                            url: urlAddress,
                            data: {
                                page: targetPage,
                                category: categoryIn,
                            },
                            success: function (response) {
                                $("#content").html(response);
                            }
                        });
                    };
    </script>
